<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="krepo.seshcoders.messengerbubbles">

    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application tools:ignore="GoogleAppIndexingWarning">

        <service android:name=".BubblesService"
            android:enabled="true"
            android:exported="false" />

    </application>
</manifest>
